
@{
    ViewData["Title"] = "SecondTask";
}

<div class="container">
    <div class="row">
        <table>
            <thead>
                <tr style="border: 1px solid">
                    <td style="border: 1px solid; padding:10px;"><a href="#">ID</a></td>
                    <td style="border: 1px solid; padding:10px 30px;">Description</td>
                    <td style="border: 1px solid; padding:10px;">Created Date</td>
                    <td style="border: 1px solid; padding:10px;"> Is Done</td>
                </tr>
            </thead>
            <tbody>
                <tr style="border: 1px solid">
                    <td style="border: 1px solid; padding:10px;"></td>
                    <td style="border: 1px solid; padding:10px 30px;"></td>
                    <td style="border: 1px solid; padding:10px;"></td>
                    @*<td style="border: 1px solid; padding:10px;"> <input type="checkbox" value="" /></td>*@
                </tr>
            </tbody>

        </table>
    </div>
</div>

